.contact-container {
  background-color: var(--dark-light-color);
  padding: 0;
  margin-top: 7.5rem;
  margin-bottom: 7.5rem;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
}

.contact {
  display: flex;
  gap: 2.4rem;
  justify-content: space-between;
  padding-top: 18rem;
  padding-bottom: 18rem;
  align-items: center;
  position: relative;
}

.contact::before,
.contact::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  animation-duration: 5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.contact::before {
  background-image: url("../assets/images/details/buble-detail-large.svg");
  width: 6rem;
  height: 6rem;
  bottom: 6rem;
  left: 3rem;
  animation-name: bounce-anim;
}

.contact::after {
  background-image: url("../assets/images/details/plus-detail-large.svg");
  width: 5rem;
  height: 5rem;
  top: 6rem;
  right: 0;
  animation-name: rotate-anim;
}

@media (max-width: 800px) {
  .contact {
    flex-direction: column;
    align-items: flex-start;
    gap: 5rem;
  }
}

@media (max-width: 900px) {
  .contact::before {
    width: 3.6rem;
    height: 4.2rem;
    background-image: url("../assets/images/details/buble-detail-small.svg");
  }

  .contact::after {
    width: 2.8rem;
    height: 2.8rem;
    background-image: url("../assets/images/details/plus-detail-small.svg");
  }
}

@media (max-width: 600px) {
  .contact {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  .contact::before {
    bottom: 2rem;
    left: 2.4rem;
  }
  .contact::after {
    top: 2rem;
  }
}
