html {
  /* set the default font-family for all
  texts */
  font-family: var(--nunito-font);
  /* transform base of 16px in 10px
  is more easy to work with em, rem, etc. */
  font-size: 62.5%;
}

body,
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1248px;
  margin: 0 auto;
  padding: 0 2.4rem;
  box-sizing: border-box;
  background-color: var(--dark-color);
  /* set the default color for the application */
  color: var(--text-body-color);
}

img,
video {
  display: block;
  width: 100%;
}

ul {
  list-style-type: none;
}

section {
  padding: 7.5rem 0;
}