.intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2.4rem;
}

.intro h1 {
  font-family: var(--graphik-font);
  font-weight: 700;
  font-size: 8.4rem;
  color: var(--light-color);
  margin-bottom: 2.4rem;
}

.intro p {
  font-size: 2.1rem;
  line-height: 3.9rem;
  margin-bottom: 5rem;
}