.portfolio {
  position: relative;
}

.portfolio-slider {
  display: flex;
  gap: 2.4rem;
  margin-top: 7rem;
  position: relative;
  align-items: flex-start;
  flex-wrap: wrap;
}

.portfolio-slider::before,
.portfolio::after {
  content: "";
  background-repeat: no-repeat;
  position: absolute;
  animation-duration: 5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.portfolio-slider::before {
  background-image: url("../assets/images/details/wave-detail-large.svg");
  width: 10rem;
  height: 3rem;
  bottom: -3rem;
  animation-name: strech-anim;
}

.portfolio::after {
  background-image: url("../assets/images/details/buble-detail-large.svg");
  width: 6rem;
  height: 6rem;
  top: calc(7.5rem + 3rem);
  right: 4rem;
  animation-name: bounce-anim;
}

@media (max-width: 900px) {
  .portfolio-slider::before {
    background-image: url("../assets/images/details/wave-detail-small.svg");
    width: 6.4rem;
    height: 2rem;
  }
  .portfolio::after {
    width: 3.6rem;
    height: 4.2rem;
    background-image: url("../assets/images/details/buble-detail-small.svg");
  }
}

@media (max-width: 600px) {
  .portfolio-slider {
    flex-direction: column;
    margin-top: 3rem;
  }
  .portfolio-slider::after {
    right: 0;
  }
}
