.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.services h2 {
  font-family: var(--graphik-font);
  font-size: 6rem;
  font-weight: 700;
  line-height: 7rem;
  color: var(--light-color);
  text-align: center;
}

.service-items-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.4rem;
  margin-top: 5rem;
  position: relative;
}

.services::before,
.service-items-grid::before,
.service-items-grid::after {
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  width: 5rem;
  height: 5rem;
}

.services::before {
  background-image: url("../assets/images/play-detail.svg");
  width: 10.6rem;
  height: 12.1rem;
  top: calc(7.5rem - 3rem);
  left: 6rem;
}

.service-items-grid::before {
  background-image: url("../assets/images/plus-detail.svg");
  right: 0;
  top: calc(-5rem * 2);
  transform: rotate(30deg);
}

.service-items-grid::after {
  background-image: url("../assets/images/plus-detail.svg");
  bottom: -5rem;
  left: -3rem;
  transform: rotate(25deg);
}