.button-highlight,
.button-highlight-icon {
  background-color: var(--primary-color);
  color: var(--light-color);
  font-size: 2rem;
  font-weight: 700;
  box-sizing: border-box;
  border-radius: .4rem;
  height: 5.8rem;
  min-width: 20rem;
  padding: 0 2.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.button-highlight-icon::after {
  content: '';
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  margin-left: .8rem;
  background-image: url("../../assets/icons/arrow-right-up.svg");
  transition: transform 0.3s;
}

.button-highlight:hover,
.button-highlight-icon:hover {
  background: linear-gradient(var(--primary-color), var(--primary-dark-color));
}

.button-highlight-icon:hover::after {
  transform: translateX(.3rem);
}