.button {
  font-size: 1.6rem;
  border: solid 0.1rem var(--light-color);
  border-radius: 0.5rem;
  height: 4.8rem;
  min-width: 15.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--text-body-color);
}

.button:hover {
  border-width: 0.2rem;
}
