.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.menu a:hover {
  color: var(--light-color);
}

.menu-nav {
  flex: 1;
  display: flex;
}

.menu-nav ul {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.menu-nav ul a {
  display: block;
  font-size: 1.8rem;
  text-decoration: none;
  padding: 1.2rem 1rem;
  color: inherit;
}

.menu-nav ul a.active {
  color: var(--primary-color);
}
