.portfolio-item a {
  display: block;
  background-color: var(--dark-light-color);
  padding: 2.4rem;
  border-radius: 1.4rem;
  cursor: pointer;
  animation: bounce-anim 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  max-width: 38.4rem;
}

.portfolio-item a:hover {
  background: linear-gradient(var(--primary-color), var(--primary-dark-color));
}

.portfolio-item img {
  border-radius: 1.2rem;
}

@media (max-width: 600px) {
  .portfolio-item a {
    max-width: max-content;
  }
}
