:root {
  /* primary colors */
  --primary-color: #5454d4;
  --light-color: #ffffff;
  --dark-color: #19191b;
  --text-color-title: var(--light-color);
  --text-body-color: rgba(255, 255, 255, 0.7);

  /* complementary colors */
  --dark-light-color: #1e1e20;
  --primary-dark-color: #3f3fcf;

  /* support colors */
  --primary-background-color: rgba(84, 84, 212, 0.1);
  --red-color: #f04037;
  --red-background-color: rgba(240, 64, 55, 0.1);
  --yellow-color: #fedc5a;
  --yellow-background-color: rgba(254, 220, 90, 0.1);
}
